html,body {
  font-family: 'Open Sans', serif;
  font-size: 14px;
  font-weight: 300px;
  
}
.hero.is-success {
  background: #f2f7fa;
}
.hero .nav, .hero.is-success .nav {
  -webkit-box-shadow: none;
  box-shadow: none;
}
input {
  font-weight: 300;  
}
p {
  font-weight: 700;
}
.botao_entrar{
  font-family: 'Open sans', serif;
  font-size: 25px;
  border:1px outset;
  width: 100%;
  border-radius: 5px;
  background-color: #00008B;
  color:#f2f7fa;
}
.titulo {
 font-size: 35px;
 color: #f2f7fa; 
}
. 
